.pageButton {
    background-color: #fafafa;
    border: none;
    margin: 0 4px;
    padding: 5px 8px;
    color: var(--mainBlack);
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', 'sans-serif';
}

.pageButton.active {
    border: 1px solid var(--lightGray2);
    border-radius: 4px;
    font-weight: 700;
}

.prevArrow {
    rotate: 90deg;
    margin-right: 8px;
}

.nextArrow {
    rotate: -90deg;
    margin-left: 8px;
}