.proprtyDataTable{
    width: 100%;
}
.proprtyDataTable tr:nth-child(odd){
background-color: #EAF6F7;
}
.proprtyDataTable tr td:first-child{
    width: 30%;
    padding: 16px 0 16px 20px;
}
.proprtyDataTable tr td:last-child{
    width: 30%;
    padding: 16px 20px 16px 0px;
}
.proprtyDataTable tr td:last-child{
    width: 100%;
}
.dataTitle{
    font-weight: 500;
font-size: 12px;
line-height: 14px;
color: var(--mainBlue);
margin-block-start: 0;
margin-block-end: 0;
}
.dataValue{
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: var(--mainBlack);
margin-block-start: 0;
margin-block-end: 0;
}
.unitValue{
    font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;
color: var(--lightBlack);
margin-block-start: 0;
margin-block-end: 0;
}
.unitSection{
    display: flex;
    gap: 4px;
    align-items: center;
}
.unitSection select{
    width: 12%; 
    color: var(--darkBlue) !important;
    font-weight: 500;
font-size: 14px !important;
line-height: 16px;
background-color: transparent;
}
.unitSection select option{
    color: var(--darkBlue);
}