@media (max-width:768px){
    .propertyTitle{
        font-size: 18px;
        line-height: 21px;
    }
    .propertyAddress{
        font-size: 14px;
line-height: 16px;
    }
    .TopSection{
        flex-direction: column;
        gap: 16px;
    }
    .reservePrice{
        font-size: 14px;
        line-height: 16px;
        text-align: left;
    }
    .priceNumber{
        font-size: 18px;
        line-height: 21px;
        text-align: left;
    }
    .marketPrice{
        text-align: left;
    }

 
}

@media (min-width:768px){
    .propertyTitle{
        display: inline-flex;
    }
}
